@import "tailwindcss";
@tailwind utilities;

body {

	--color-background: #D9EAFD;
	--color-content: #F8FAFC;
	--color-content-alt: #cdd9e5;
	/* --color-content- */
	background-color: var(--color-background);
	font-family: var(--font-pixel);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
	--font-pixel: "PixelOperator", sans-serif;
}

@font-face {
	font-family: "PixelOperator";
	src: url("/fonts/PixelOperator.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


.resize-transition {
	transition: width 280ms ease, height 280ms ease, margin 280ms ease, padding 280ms ease;
}

.animate-fade-in {
	animation: fadeIn 0.3s ease-in forwards;
}



@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}