---
import Layout from "@src/layouts/Layout.astro";


---



<Layout>
	<h1 class="text-4xl font-bold my-8">Other</h1>
	<p class="mb-4">This is a placeholder page for other content that doesn't fit under Projects or Experience.</p>
	<p>More content coming soon!</p>
</Layout>